@import "common";

.scroll-container {
  display: flex;
  align-items: center;
  position: relative;
}

.scroll-button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 1.5em;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

/* .card-container::-webkit-scrollbar {
  display: none;
} */

.card-container {
  display: flex;
  justify-content: space-between; 
  scroll-snap-type: x mandatory; /* Scroll suave parando nos cards */
  overflow-x: hidden; /* Oculta o scroll horizontal */
  /* padding: 20px; */
  width: 100%;
  align-items: center;
  position: relative;
  perspective: 1000px; /* Permitir transformações 3D */
  scroll-behavior: smooth; /* Scroll suave */
}


/* .card {
  min-width: 250px; 
  margin: 0 10px; 
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: white;
  position: relative;
  transition: transform 0.5s ease, z-index 0.5s ease, opacity 0.5s ease;
  scroll-snap-align: center; 
  padding: 9px;
  z-index: 1;
  opacity: 0.8;
  img {
    height: 275px;
    max-width: 450px;
  }
}

.card.active {
  transform: scale(1) translateZ(0); 
  z-index: 2;
  opacity: 1;
  max-width: 450px;
} */


@media (max-width: 768px) {

  .card {
    flex: 100%; 
    height: 250px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    margin: 0 0px; 
   // position: relative;
    //transition: transform 0.5s ease, z-index 0.5s ease, opacity 0.5s ease;
    opacity: 0; /* Cards escondidos inicialmente */
    transform: translateX(100%); /* Mover os cards para fora da tela inicialmente */
    img {
      height: 275px;
      max-width: 450px;
    }
  }


  .card-container {
    display: flex;
   /*  overflow-x: scroll; 
    scroll-snap-type: x mandatory;  */
    width: 100%;
    height: 300px;
   /*  position: relative; */
    align-items: center;
    perspective: 100px; /* Para permitir transformações 3D */
    scroll-behavior: smooth; /* Scroll suave */
   /*  opacity: 0; */ /* Inicialmente os cards ficam escondidos */
/*     transition: opacity 0.5s ease-out; */
  }

  .card-container {
    height: 100vh;
  }


  .card {
    height: 80vh;
    margin: 0 auto;
  }

  .card.active {
    transform: scale(1) translateZ(0); 
  max-width: 450px;
    min-width: fit-content;
    display: flex;
    z-index: 2;
    opacity: 1;
  }
 
}

.card h2 {
  font-size: 1.4em;
  margin: 10px 0;
}

.card p {
  color: #888;
  font-size: 1.1em;
}
