@import "common";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.navbar-icon img {
  height: 84px;
  width: auto;
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}


.menu-toggle {
  display: none;
}


@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 2px 4px;
  }

 
  .menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .menu-icon {
    font-size: 30px;
    display: inline-block;
  }

  .close-icon {
    font-size: 30px;
    display: none;
  }

  /* Esconde o menu por padrão e o mostra ao clicar */
  .navbar-menu {
    display: none; /* Esconde o menu */
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--background-color);;
  }

  .navbar-menu li {
    margin: 10px 0;
    text-align: center;
  }

  /* Quando o menu estiver ativo */
  .navbar-menu-active {
    display: flex; 
  }
  /* Quando o menu estiver ativo */
  .navbar-menu-inactive {
    display: none; 
  }

  .menu-active .menu-icon {
    display: none; /* Esconde o ícone de hambúrguer */
  }

  .menu-active .close-icon {
    display: inline-block; /* Mostra o ícone de fechar */
  }
}
